.Banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.mobileBanner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.question {
  font-family: "Kiwi Maru", serif;
  color: #614d3b;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.question h2 {
  font-size: 2.5rem;
  margin: 12rem 0 6rem;
}

ul.list {
  max-width: 1200px;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: start;
}
ul.list > li {
  margin-bottom: 2rem;
}

.link_title {
  display: flex;
  position: relative;
  width: 100%;
  color: #614d3b;
  background-color: #f3cdb5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 1.3rem;
}
.switch_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  font-size: 0;
}
.inner_block {
  font-size: 1.3rem;
  color: #614d3b;
  background-color: #fefcf8;
  border-radius: 8px;
  margin-top: 8px;
  padding: 30px;
  line-height: 1.6;
  display: none;
}
span.-minus {
  display: inline-block;
}
li.-on span.-minus {
  display: none;
}
span.-plus {
  display: none;
}
li.-on span.-plus {
  display: inline-block;
}

@media (max-width: 768px) {
  .Banner {
    display: none;
  }
  .mobileBanner {
    display: flex;
  }

  .question h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  ul.list {
    width: 70%;
  }
  ul.list > li {
    margin-bottom: 1.5rem;
  }
  .link_title {
    padding: 8px 20px;
    font-size: 1rem;
  }
  .inner_block {
    font-size: 1rem;
    margin-top: 8px;
    padding: 8px 20px;
  }
  .switch_btn {
    width: 30px;
    right: 10;
  }

  @media (max-width: 568px) {
    .question h2 {
      font-size: 1.5rem;
      margin: 8rem 25px 2rem 0;
    }
    .switch_btn {
      width: 25px;
      right: 0.5px;
    }
    .link_title {
      font-size: 0.9rem;
    }
    .inner_block {
      font-size: 0.9rem;
    }
  }
}
